.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: 0,0,0,;
opacity: 0.9;
}

.modalCon{
    background-color: gray;
    margin: 15% auto;
padding: 20px;
border: 1px solid black;
width: 80%;
}

.close{
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
